<!doctype html>
<html>

<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <title>Prelim</title>
  <base href="/">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="{% static 'styles.fb6b2b930e499f18c5e6.bundle.css' %}">

<body>
  <app-root>Loading...</app-root>

  <script type="text/javascript" src='{% static "inline.29dd1046c69e3fce1304.bundle.js" %}'></script>
  <script type="text/javascript" src='{% static "polyfills.7766595965b8adedd90d.bundle.js" %}'></script>
  <script type="text/javascript" src='{% static "vendor.4cacb49262b643cf5737.bundle.js" %}'></script>
  <script type="text/javascript" src='{% static "main.1162c2e73a3870cfd3b5.bundle.js" %}'></script>

</html>
